{% extends 'base.html' %}

{% block content %}
<h1 style="text-align: center; margin-top: 10px;">Show_tasks DEMO</h1>
<h1 style="text-align: center; margin-top: 40px;">
    <span style="background-color: blue; color: white; margin :10px">    Tasks    </span>
</h1>


<div style="width:80%;margin:auto">
    {% if data %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">task_No</th>
                    <th scope="col">Task Title</th>
                    <th scope="col">Task Description</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for item in data %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.taskTitle }}</td>
                        <td>{{ item.taskDescription }}</td>
                        <td>{{ item.is_completed }}</td>
                        <td>
                            <a  href="{% url 'delete_task' id=item.id %}" class='btn btn-danger btn-sm'>Delete</a>
                            <a href="{% url 'edit_task' id=item.id %}" class='btn btn-primary btn-sm'>Edit</a>

                            <a href="{% url 'complete' id=item.id %}" class='btn btn-success btn-sm'>Complete</a>

                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h1 style="text-align: center; margin-top: 50px;">No data are available</h1>
    {% endif %}
</div>
{% endblock %}
